---
eleventyExcludeFromCollections: true
layout: base.njk
title: Testing Picture Shortcode in Included Snippet
---

            <ul>
                <li>
                    <a href="/list.html">List of Posts Using Directly Embedded Markup With Shortcode</a>
                    works
                </li>
                <li>
                    <a href="/list-snippet-picture.html">List of Posts Using Included Snippet With Shortcode</a>
                    does <em>not</em> work
                </li>
            </ul>
